.x-dataview-images-view {
  text-align: center;
}

.x-dataview-images-view img,
.x-dataview-business img {
  display: block;
  margin: .75em auto;
  padding: 0.5em;
  border: 1px solid #CCC;
  background: white;
}

.x-dataview-images-view img + div {
  width: 90%;
  margin: 0 auto 1em auto;
  padding: .2em;
  background: #f2f2f2;
  -webkit-box-shadow: 5px 5px 8px #888;
}

.what, .at, 
.place, .city {
  display: block;
  color: #595959;
  font-family: 'AmericanTypewriter';
  font-size: .75em;
  text-align: center;
}
 
.place {
  font-weight: bold;
}

.x-dataview-images-view .place {
  color: #15C;
  display: inline;
}

.city {
  display: inline;
}

.x-dataview-business {
  padding: .5em 1em;
}

.x-dataview-business .business-wrapper {
  margin-bottom: .5em;
  font-family: 'Palatino-Roman';
}

.x-dataview-business .place,
.x-dataview-business .street,
.x-dataview-business .city-state-zip,
.x-dataview-business .map {
  text-align: left;
  font-size: .8em;
  display: block;
}

.x-dataview-business .place {
  font-family: 'MarkerFelt-Thin';
  font-size: 1.4em;
  font-weight: bold;
  color: #000;
}

.x-dataview-business h3 {
  font-family: 'AmericanTypewriter';
  font-weight: bold;
  font-size: .85em;
  color: #666;
  text-align: center;
}

.x-dataview-business img + .what {
  width: 90%;
  margin: 0 auto 1em auto;
  padding: .2em;
  background: #f2f2f2;
  -webkit-box-shadow: 5px 5px 8px #888;
}